 body {
    margin: 0;
    position: relative;
    background: black;
  }
 
 .logo-top-left {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1000;
  }

  .logo-top-left img {
    height: 40px; /* ajuste como quiser */
    width: auto;
    display: block;
  }

  .call-button {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1000;
  }

  .call-button a {
    background-color: #7D298A;
    color: #F8FBFB;
    padding: 10px 16px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    font-family: sans-serif;
  
  }

  .call-button a:hover {
    background-color: #9547A5;
  }


  .book-highlight {
  position: relative;
  width: 100%;
  min-height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bottom-text p {
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 2rem;
  line-height: 1.8;
  font-weight: 400;
  color: #f4f1f8;
}

.bottom-text span {
  color: #69d6ff;
  font-weight: 700;
}

.secao-inicial {
  position: relative;
 
}

.secao-inicial img {
  width: 100%;
  display: block;
}

.texto {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  color: #f4f1f8;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}